@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --background: 210 40% 98%;
    --foreground: 222 47% 11%;
    --primary: 222 47% 11%;
    --primary-foreground: 210 40% 98%;
    --muted: 214 32% 91%;
    --muted-foreground: 215 16% 47%;
    --border: 214 32% 91%;
    --ring: 222 47% 11%;
    --radius: 0.75rem;
  }
  .dark {
    --background: 222 47% 11%;
    --foreground: 210 40% 98%;
    --primary: 210 40% 98%;
    --primary-foreground: 222 47% 11%;
    --muted: 217 33% 17%;
    --muted-foreground: 215 20% 65%;
    --border: 217 33% 17%;
    --ring: 212 27% 96%;
  }
  * {
    @apply border-border;
  }
  html {
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  body {
    @apply bg-background text-foreground;
  }
}
@layer utilities {
  .bg-gradient-mesh {
    background-image: radial-gradient(at 40% 20%, hsla(217,100%,74%,0.15) 0px, transparent 50%), 
                      radial-gradient(at 80% 0%, hsla(189,100%,56%,0.15) 0px, transparent 50%), 
                      radial-gradient(at 0% 50%, hsla(355,100%,93%,0.15) 0px, transparent 50%);
  }
}